* {
  /* font-size: 1.2rem; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

li {
  margin-bottom: 15px;
}

ol,
ul {
  margin: 0 important!;
  padding: 0;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding: 30px;
}

.photo {
  max-width: 290px;
  border-radius: 15px;
}

.about-me-container {
  padding: 60px;
}

p.pillow {
  font-size: 18px;
  text-indent: 15px;
  text-align: justify;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-item {
  margin: 10px;
}

.bi-linkedin,
.bi-telephone-fill,
.bi-envelope-fill,
.bi-telegram,
.bi-github {
  color: azure;
  padding-right: 2px;
}

.tech-skills-container {
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 40px;
}

.soft-skills-container {
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #798089;
  text-decoration: none;
}

.mail-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #798089;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #da6010;
  margin-left: 15px;
}

.tech-skills-text {
  color: #d1d3d7;
  font-size: 16px;
}

.soft-skills-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.soft-skills-item {
  font-weight: 400;
  line-height: 24px;
  color: #da6010;
  margin-left: 15px;
}

.soft-skills-text {
  color: #d1d3d7;
  font-size: 16px;
}

.profession {
  font-size: 27px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.name {
  font-size: 40px;
  font-weight: 700;
  line-height: 89px;
  text-align: center;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  margin-left: 25px;
  margin-bottom: 10px;
}

.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s;
}

.tech-name {
  text-align: right;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #a8a8a8;
  font-weight: 100;
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.projects-list ol {
  width: 60%;
}

.projects-list .project-item {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  font-weight: 700;
  margin-left: 15px;
  cursor: pointer;
}

.qrCode img {
  /* display: inline-block; */
  width: 190px;
}

.about-me-list {
  margin-left: 20px;
  list-style-type: none;
}

.projects-link:hover,
.contacts-link:hover,
.mail-link:hover {
  color: #ff6b08;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.prof-company {
  font-size: 18px;
  color: #ff6b08;
}

.prof-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.prof-divider {
  color: black;
}

.prof-duties {
  margin-top: 14px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.prof-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.specialty-title {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 14px;
}

.certificate-link {
  display: block;
  margin-top: 14px;
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

.certificate-link:hover {
  color: #ff6b08;
}

.container {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 13px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  padding: 20px 30px;
}

.container:last-child {
  margin-bottom: 0;
}
